<div class="container">
  <div class="row text-center">
    <%= link_to 'CREATE A RECIPE', new_recipe_path, class: 'btn btn-lg btn-default' %>
  </div>

  <hr>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-sm-3 panel text-center recipe-box">
        <h1><%= link_to recipe.name, recipe %></h1>
        <%= link_to 'ADD TO MENU', '#', class: 'btn btn-lg btn-info' %>
      </div>
    <% end %>
  </div>
</div>
