<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-circle img-responsive" src="http://orig06.deviantart.net/d36c/f/2014/088/2/c/_tips_fedora__by_gabplaza-d7c64yc.png"><br>
      <a class="btn btn-lg btn-info">My Pantry</a>
    </div>
    <div class="col-md-6">
      <h1 class="text-right">This Week's Menu</h1>
      <div class="panel calander">
        <h3>Mon</h3>
        <h3>Tue</h3>
        <h3>Wed</h3>
        <h3>Thu</h3>
        <h3>Fri</h3>
        <h3>Sat</h3>
        <h3>Sun</h3>
      </div>
    </div>
  </div>
</div>
