<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="col-md-7">
        <h3 class="text-center">eat the food you've already paid for</h3>
        <div class="col-xs-8">
          <a href="#" class="thumbnail">
             <img src="https://s-media-cache-ak0.pinimg.com/736x/61/40/94/614094cfc177efd3d8665256a9f8c2f2.jpg" class="img-responsive">
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" class="thumbnail">
            <img src="http://ecx.images-amazon.com/images/I/81bBVugz9sL._SX355_.jpg" class="img-responsive">
          </a><div style="height: 10px"></div>
          <a href="#" class="thumbnail">
            <img src="http://ecx.images-amazon.com/images/I/81bBVugz9sL._SX355_.jpg" class="img-responsive">
          </a>
        </div>
      </div>
      <div class="col-md-5 text-right">
        <h1 class="welcome-text">Start<br>By<br>Choosing<br>This<br>Week's<br>Menu</h1>
        <a class="btn btn-info btn-lg" href="#">GET STARTED</a>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row info-panel">
    <h1 class="text-center">It's Never Been This Easy</h1>
  </div>

  <div class="row">
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">Just pick out the recipies you want.</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">Don't worry about what you've got.</h3>
    </div>
  </div>

  <div class="row info-panel">
    <h1 class="text-center">Eat Healthy</h1>
  </div>

  <div class="row">
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">You're getting pretty fat.</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">How much more McDonalds should you eat?</h3>
    </div>
  </div>

  <div class="row info-panel">
    <h1 class="text-center">Save Money</h1>
  </div>

  <div class="row">
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">Let's face it. You're not gonna be rich.</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">More money for video games.</h3>
    </div>
  </div>

</div>

