<div class="container">
  <div class="welcome">
    <div class="row">
      <div class="col-md-7">
        <h1 class="big-name">Pantry</h1>
        <h1 class="big-name">Raid</h1>
        <h3 id="tagline">you bought it, you eat it</h3>
      </div>
      <div class="col-md-4 text-right">
        <h1 class="welcome-text lead">Start<br>By<br>Choosing<br>This<br>Week's<br>Menu</h1>
        <%= link_to 'GET STARTED', login_path, class: "btn btn-info btn-lg" %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <h1 class="text-center">It's Never Been This Easy</h1>
  </div>

  <div class="row">
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">Just pick out the recipies you want.</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">Don't worry about what you've got.</h3>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center">Eat Healthy</h1>
  </div>

  <div class="row">
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">You're getting pretty fat.</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">How much more McDonalds should you eat?</h3>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center">Save Money</h1>
  </div>

  <div class="row">
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">Let's face it. You're not gonna be rich.</h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 panel info-panel">
      <h3 class="text-center">More money for video games.</h3>
    </div>
  </div>

</div>

