<div class='container'>
  <div class="row text-center">
    <h1>Your Order Has Been Created</h1>

    <%= link_to 'Checkout with Instacart', 'http://www.instacart.com', target: "_blank", class: "btn btn-lg btn-primary" %>
  </div>

  <hr>

  <div class="row text-center">
    <h1>When You Get Back Choose One</h1>
  </div>

  <div class="row text-center">
    <div class="col-xs-6">
      <%= link_to "I Completed The Instacart Order", pantry_path, method: :put, class: "btn btn-lg btn-success" %>
    </div>
    <div class="col-xs-6">
      <%= link_to "I Bailed On Instacart", profile_path, class: "btn btn-lg btn-danger" %>
    </div>
  </div>
</div>
